body{
    margin: 0;
    padding: 0;
}
img {
    width: 100vw;
    height: 300px;
}
a{
    text-decoration: none;

}

nav>ul{
    list-style-type: none;
    background-color: skyblue;
}

nav li{
    display: inline-block;
    background-color: darkblue;
    width: 30%;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 2rem;
}

section>ul{

}

li:hover{
    cursor: pointer;
}

#summary {
    display: block;
    background: lightblue;
}

#practical{
    /*display: none;*/
    background-color: lightgreen;
}

#contact{
    /*display: none;*/
    background-color: mediumpurple;
}
