img {
    width: 1000px;
    height: 300px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

ul{
    list-style-type: none;
    background-color: skyblue;
}

li{
    display: inline-block;
    background-color: darkblue;
    width: 30%;
    text-align: center;
    padding: 10px;
}

#summary {
    display: block;
    background: orangered;
}

#practical{
    display: none;
    background-color: yellow;
}

#contact{
    display: none;
    background-color: blue;
}